.additional-list {
  padding: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-bottom: 54px;
    grid: 1fr 1fr/1fr 1fr;
    grid-column-gap: 80px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    margin-bottom: 61px;
  }
}
