.button {
  grid-area: button;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  color: $basicWhite;
  background-color: $basicGreen;
  border: none;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family--oswald;

  &:focus {
    cursor: pointer;
  }

  &--lg {
    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding: 17px 26px;
      max-width: 300px;
    }
  }

  &:hover {
    background-color: $basicGreen2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--grey {
    color: $specialDarkGrey;
    background-color: $basicGrey;
  }

  &--grey:hover {
    color: $specialDarkGrey;
    background-color: $basicGrey;
  }

  &--mobile-wide {
    @media (max-width: $mobile-width) {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &--wide {
    display: block;
    width: 100%;
  }
}
