.button {
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  color: $basicWhite;
  background-color: $basicGreen;
  border: none;
  text-decoration: none;
  display: inline;

  &:hover {
    background-color: $basicGreen2;
  }

  &:active {
    opacity: 0.3;
  }

  &--grey {
    color: $specialDarkGrey;
    background-color: $basicGrey;
  }

  &--grey:hover {
    color: $specialDarkGrey;
    background-color: $basicGrey;
  }

  &--wide {
    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}
