.button {
  padding: 10px;
  text-transform: uppercase;
  color: $basicWhite;
  background-color: $basicGreen;
  border: none;
  text-decoration: none;

  &:hover {
    background-color: $basicGreen2;
  }

  &:active {
    opacity: 0.3;
  }

  &--grey {
    color: $specialDarkGrey;
    background-color: $basicGrey;
  }

  &--grey:hover {
    color: $specialDarkGrey;
    background-color: $basicGrey;
  }
}
