.checkbox {
  display: block;
  width: fit-content;
  &:focus-within {
    outline: solid;
  }
  // display: flex;
  // flex-direction: row;
  // align-items: center;
}

.checkbox__input {
  display: block;
  position: absolute;
  appearance: none;
  z-index: -1;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  opacity: 0;
}

.checkbox__label {
  text-transform: uppercase;
  display: block;
  font-size: 16px;
  line-height: 18px;
  height: 40px;
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.checkbox__label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid $specialGrey;
  z-index: -2;

  &:hover {
    border: 1px solid $specialGrey2;
  }
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("../img/checked.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

.checkbox__input:disabled + .checkbox__label::before {
  background-image: url("../img/checked.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.5;
}
