.contact {
  display: block;

  @media (min-width: $desktop-width) {
    overflow: hidden;
    position: relative;
    padding: 95px 0 104px 0;
  }
}

.contact__container {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  padding: 0 20px;

  &--grey {
    background-color: $basicGrey;
  }

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    padding: 0 29px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 1220px;
    margin: 0 auto;
    background: none;
  }
}

.contact__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 27px 0 27px 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 63px 41px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    background-color: $basicWhite;
    width: 570px;
    min-height: 201px;
    padding: 63px 76px;
  }
}

.contact__slogan {
  grid-column: 1/2;
  text-transform: uppercase;
  color: $specialBlack;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  max-width: 170px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.contact__address {
  grid-column: 2/3;
  color: $specialDarkGrey;
  font-style: normal;
  font-family: $font-family--arial;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    max-width: 160px;
    margin-left: auto;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-left: 40px;
  }
}

.contact__map {
  width: auto;
  min-height: 362px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &--no-js {
    display: none;
  }
}

.contact__map-image {
  width: 100%;
  min-height: 362px;
  object-fit: cover;
  z-index: -1;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  &--no-js {
    display: none;
  }
}
