.contact {
  position: relative;
  display: block;
  z-index: -3;

  @media (min-width: $desktop-width) {
    min-height: 400px;
    height: 100%;
  }

  &--grey {
    background-color: $basicGrey;
  }
}

.contact__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 28px 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 67px 37px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    background-color: $basicWhite;
    width: 570px;
    min-height: 201px;
    padding: 66px;
    position: absolute;
    top: 95px;
  }
}

.contact__slogan {
  grid-column: 1/2;
  text-transform: uppercase;
  color: $specialBlack;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  max-width: 170px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.contact__address {
  grid-column: 2/3;
  color: $specialDarkGrey;
  font-style: normal;
  font-family: $font-family--arial;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-left: 80px;
  }
}

.contact__map {
  width: auto;
  height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
    z-index: -2;
  }
}

.contact__map-image {
  width: 100%;
  min-height: 362px;
  object-fit: cover;
  z-index: -2;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}
