.contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
  }
}

.contacts-list__item {
  margin-bottom: 14px;
}
