.contact__slogan {
  text-transform: uppercase;
  color: $specialBlack;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.contact__address {
  color: $specialDarkGrey;
  font-style: normal;
  font-family: $font-family--arial;
  font-size: 14px;
  line-height: 20px;
}
