.decoration-heading {
  position: relative;
  display: inline-flex;
  width: auto;

  @media (max-width: $mobile-width) {
    &::after {
      right: -14px;
      content: "";
      top: 15px;
      position: absolute;
      transform: translateX(100%);
      height: 2px;
      width: 100vw;
      background-color: $basicGreen;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: -37px;
      content: "";
      top: 21px;
      position: absolute;
      transform: translateX(-100%);
      height: 2px;
      width: 100vw;
      background-color: $basicGreen;
    }

    &::after {
      content: "";
      right: -37px;
      top: 21px;
      position: absolute;
      transform: translateX(100%);
      height: 2px;
      width: 100vw;
      background-color: $basicGreen;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;

    &::before {
      left: -40px;
      top: 22px;
    }

    &::after {
      right: -40px;
      top: 22px;
    }
  }
}
