.details {
  grid-area: details;
}

.details__item {
  display: flex;
  justify-content: space-between;
}

.details__description,
.details__term {
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  font-family: $font-family--arial;
}
