.difference {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
    transform: none;
    margin: 0;
  }
}

.difference__image {
  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 620px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: 536px;
  }
}

.difference__list {
  list-style: none;
  padding: 0;
}

.difference__item {
  display: flex;
  justify-content: center;

  &:last-child {
    display: none;
  }
}

.difference__toggles {
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}
