.difference {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
    transform: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.difference__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.difference__item {
  @media (max-width: $mobile-width) {
    &:last-child {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &:last-child {
      position: relative;

      left: -40px;
    }
  }
}

.difference__image {
  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 354px;
    height: 620px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: 536px;
  }
}

.difference__toggles {
  display: flex;
  justify-content: center;
}
