.example {
  position: relative;

  @media (max-width: $mobile-width) {
    background-color: $lightGrey2;
  }

  @media (min-width: $tablet-width) {
    &::before {
      background-color: $lightGrey2;
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 462px;
      bottom: 0;
      left: 0;
      z-index: -2;
    }
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 80px;
    grid-template-rows: 205px 231px 231px;
  }
}

.example__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.example__description {
  margin: 0;
  font-family: $font-family--arial;
  color: $specialDarkGrey;
  grid-column: 1/2;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}
