.field__label {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input {
  min-height: 46px;
  width: 100%;
  outline: 1px solid $lightGrey4;
  border: none;
  padding-left: 16px;
  color: $specialDarkGrey;
  font-family: $font-family--oswald;
  text-transform: uppercase;
  margin-left: 12px;

  @media (min-width: $tablet-width) {
    min-height: 52px;
    margin-left: 18px;
  }

  &:hover {
    outline: 2px solid $specialGrey;
  }

  &:focus {
    outline: 2px solid $specialDarkGrey;
  }

  &:invalid:focus {
    outline: 2px solid $statusError;
  }

  &:focus + .field__icon {
    color: $basicGreen;
  }

  &:invalid:focus + .field__icon {
    color: $statusError;
  }
}

.field__icon {
  position: absolute;
  right: 17px;
  top: 17px;
  color: currentColor;
}
