.field__label {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input {
  min-height: 46px;
  width: 100%;
  border: 1px solid $lightGrey4;
  padding-left: 16px;
  color: $specialDarkGrey;
  font-family: $font-family--oswald;
  text-transform: uppercase;
  margin-left: 15px;

  &[type="email"] {
    background-image: url("../img/icon-email.svg");
    background-position: right 16px bottom 50%;
    background-repeat: no-repeat;
    padding-right: 40px;
  }

  &[type="tel"] {
    background-image: url("../img/icon-phone.svg");
    background-position: right 13px bottom 50%;
    background-repeat: no-repeat;
    padding-right: 40px;
  }

  @media (min-width: $tablet-width) {
    min-height: 52px;
  }

  &:hover {
    border: 1px solid $specialGrey;
  }

  &:focus {
    border: 1px solid $specialDarkGrey;
    outline: none;
  }

  &:invalid:focus {
    border: 2px solid $statusError;
    outline: none;
  }
}
