.form__about-and-program {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
  }
}

.form__about {
  padding: 20px 0 6px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.form__program {
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 0;
  margin-left: -3px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.form__about,
.form__program {
  border: none;
  position: relative;

  @media (max-width: $mobile-width) {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100vw;
      left: -20px;
      bottom: 0;
      background-color: $lightGrey;
    }
  }
}

.form__additional {
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 67px;
  }

  border: none;
  padding: 0;
}

.form__comment {
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }

  border: none;
  padding: 0;
}

.form__contacts {
  margin-top: 24px;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 48px;
  }
}

.form__contacts-title {
  max-width: 187px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin-bottom: 75px;
  }
}

.form__comment-title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }
}

.form__additional-title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__legend {
  position: relative;
  display: inline-flex;
  font-family: $font-family--oswald;
  font-size: 24px;
  line-height: 26px;
  width: auto;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__footer {
  display: grid;
  grid-template-areas:
    "submit"
    "description";
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    grid-template-areas: "submit description";
    grid-column-gap: 60px;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 80px;
    margin-bottom: 82px;
  }
}

.form__submit {
  grid-area: submit;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.form__description {
  grid-area: description;
  font-family: $font-family--arial;
  font-size: 14px;
  line-height: 16px;
  margin-top: 21px;

  @media (max-width: $mobile-width) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
