.form__about-and-program {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
  }
}

.form__about,
.form__program {
  border: none;
  position: relative;
  padding: 0;

  @media (max-width: $mobile-width) {
    padding: 20px 0;
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100vw;
      left: -20px;
      bottom: 0;
      background-color: $lightGrey;
    }
  }
}

.form__additional,
.form__comment,
.form__contacts {
  margin-top: 26px;
  @media (min-width: $tablet-width) {
    margin-top: 67px;
  }

  border: none;
  padding: 0;
}

.form__legend {
  position: relative;
  display: inline-flex;
  margin-bottom: 35px;
  font-family: $font-family--oswald;
  font-size: 24px;
  line-height: 26px;
  width: auto;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__footer {
  display: grid;
  grid-template-areas:
    "submit"
    "description";
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-template-areas: "submit description";
    grid-column-gap: 60px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 80px;
    margin-bottom: 82px;
  }
}

.form__submit {
  grid-area: submit;
  font-size: 20px;
}

.form__description {
  grid-area: description;
  font-family: $font-family--arial;
  font-size: 14px;
  line-height: 16px;

  @media (max-width: $mobile-width) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
