.hero {
  @media (max-width: $mobile-width) {
    background-image: linear-gradient(to top, rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
      url("../img/hero/hero-background-mobile.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
    margin-bottom: 200px;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
        url("../img/hero/hero-background-mobile@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      background-image: linear-gradient(to top, rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
        url("../img/hero/hero-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      z-index: -1;
      width: 50%;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(to top, rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
          url("../img/hero/hero-background-desktop@2x.jpg");
      }
    }
  }
}

.hero__container {
  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    margin-top: 64px;
    margin-left: 80px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-top: 111px;
    position: relative;
    margin-bottom: 200px;
  }
}

.hero__title {
  margin: 0;
  margin-top: 27px;
  font-weight: 400;
  color: $basicWhite;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-display: swap;

  @media (min-width: $tablet-width) {
    display: block;
    width: 414px;
    text-align: left;
    font-weight: 400;
    color: $basicBlack;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__slogan {
  text-transform: uppercase;
  color: $basicWhite;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $basicBlack;
    margin-top: 25px;
    text-align: left;
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 29px;
  }
}

.hero__image {
  width: 280px;
  height: 270px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 550px;
    height: auto;
    z-index: -2;

    position: absolute;
    top: 500;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: auto;
    left: 35%;
    top: -82px;
    position: absolute;
    z-index: 2;
  }
}
