.hero {
  @media (max-width: $mobile-width) {
    background-image: linear-gradient(to top, rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
      url("../img/hero-cat.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
    margin-bottom: 200px;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    height: 872px;
  }

  @media (min-width: $desktop-width) {
    height: 550px;

    &::before {
      content: "";
      height: 696px;
      background-image: linear-gradient(to top, rgba($basicGreen, 0.85), rgba($basicGreen, 0.85)),
        url("../img/hero-cat-2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 50%;
    }
  }
}

.hero__container {
  @media (min-width: $tablet-width) {
    margin-top: 64px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-top: 111px;
    position: relative;
  }
}

.hero__title {
  margin: 0;
  font-weight: 400;
  color: $basicWhite;
  text-align: center;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 414px;
    text-align: left;
    font-weight: 400;
    color: $basicBlack;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__slogan {
  text-transform: uppercase;
  color: $basicWhite;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $basicBlack;
    margin-top: 25px;
    text-align: left;
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 29px;
  }
}

.hero__image {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: auto;
    z-index: -2;
    position: absolute;
    top: 500;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    left: 40%;
    top: -82px;
    position: absolute;
    z-index: 2;
  }
}
