.indicators {
  grid-area: indicators;

  background-color: $lightGrey2;

  @media (min-width: $tablet-width) {
    background-color: $basicWhite;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    background-color: $basicGrey;
    padding-bottom: 0;
    margin-top: 60px;
  }
}

.indicators__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  @media (max-width: $mobile-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 366px;
    justify-content: space-around;
    margin: 0;
  }
}

.indicators__item--bordered {
  &:first-child {
    @media (min-width: $tablet-width) {
      margin-right: 42px;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  margin-top: 23px;
  border: 1px solid $specialGrey2;
  border-radius: 3px;
  min-height: 56px;
  min-width: 124px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    min-height: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }

  .indicators__number {
    font-size: 24px;
    text-transform: uppercase;
    color: $basicBlack;
    text-align: center;
    position: relative;
    top: 12px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 37px;
    }
  }

  .indicators__description {
    background-color: $lightGrey2;
    padding: 0 2px;
    width: 70px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    margin: 0 auto;
    position: relative;
    bottom: -24px;
    font-family: $font-family--arial;

    @media (min-width: $tablet-width) {
      background-color: $basicWhite;
      margin-top: 13px;
      width: auto;
      display: inline-flex;
      font-size: 14px;
      padding: 0 8px;
      bottom: -8px;
    }

    @media (min-width: $desktop-width) {
      background-color: $basicGrey;
    }
  }
}

.indicators__item--full {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 35px;

  .indicators__description {
    order: 1;
    display: block;
    font-size: 14px;
    margin-left: 0;
    white-space: nowrap;
  }

  .indicators__number {
    order: 2;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    padding: 0;

    .indicators__description {
      font-size: 20px;
      line-height: 20px;
      text-align: right;
      margin: 0;
    }

    .indicators__number {
      margin-top: 10px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    margin-top: 52px;
    max-width: 325px;
    margin-left: -40px;
  }
}
