.intro {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    min-height: 929px;
  }

  @media (min-width: $desktop-width) {
    min-height: 696px;
    margin-bottom: 82px;
  }
}
