.main-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
  }
}

.main-nav__toggle {
  background-image: url("../img/nav-toggle-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basicWhite;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
  top: 25px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .main-nav--closed .main-nav__toggle {
    background-image: url("../img/nav-burger.svg");
  }

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    background-image: url("../img/nav-toggle-close.svg");
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
    display: block;
  }
}

.main-nav__item {
  padding: 22px;
  position: relative;

  @media (max-width: $mobile-width) {
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100vw;
      left: -30px;
      top: 0;
      background-color: $lightGrey;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 10px 0;
    border: none;
    margin-left: 35px;

    &--active {
      border-bottom: 2px solid $basicGreen;
    }
    &--active-green {
      border-bottom: 2px solid $basicGreen;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 10px 0;
    border: none;

    &--active {
      border-bottom: 2px solid $basicWhite;
    }
    &--active-green {
      border-bottom: 2px solid $basicGreen;
    }
  }
}

.main-nav__link {
  white-space: nowrap;
  color: $basicBlack;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    &--white {
      color: $basicWhite;
    }
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
