.main-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
  }
}

.main-nav__toggle {
  background-image: url("../img/nav-toggle-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basicWhite;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__item {
  padding: 24px;
  position: relative;

  @media (max-width: $mobile-width) {
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100vw;
      left: -60px;
      bottom: 0;
      background-color: $lightGrey;
    }
  }

  // border-bottom: 1px solid $lightGrey3;
  // text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 0 10px 0;
    border: none;
    margin-left: 35px;

    &--active {
      border-bottom: 2px solid $basicGreen;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 10px 0;
    border: none;

    &--active {
      border-bottom: 2px solid $basicWhite;
    }
  }
}

.main-nav__link {
  white-space: nowrap;
  color: $basicBlack;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    &--white {
      color: $basicWhite;
    }
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
