.map {
  width: auto;
  height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
    z-index: -2;
  }

  @media (min-width: $desktop-width) {
    display: none;
    min-height: 100%;
  }
}

.map__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
