.page-form {
  overflow-x: hidden;
}

.page-form__slogan {
  text-transform: uppercase;
  font-family: $font-family--oswald;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.page-form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 55px;
  }
}

.page-form__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
