.page-footer__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  padding: 32px 0;
  text-align: center;
}

.page-footer__social {
  display: flex;
}

.page-footer__copyright:last-child {
  margin-left: auto;
}
