.page-footer {
  background-color: $basicGrey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  text-align: center;
  padding: 32px 0;
  border-bottom: 1px solid $lightGrey;
  width: 100%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    width: auto;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  display: flex;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid $lightGrey;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.page-footer__copyright {
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #666666;

  &:hover {
    color: $basicGreen;
  }

  &:active {
    color: $basicGreen;
    opacity: 0.3;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    justify-content: space-between;
  }
}

.page-footer__copyright-text {
  color: $specialDarkGrey;
  font-family: $font-family--arial;
  font-size: 16px;
  line-height: 18px;
  display: block;
  white-space: nowrap;
  padding-right: 20px;
}
