.page-header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.page-header__logo {
  min-height: 66px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo-image {
  position: absolute;
  left: 0;
  top: 12px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    margin-right: 12px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 14px;
  }
}

.page-header__logo-brand {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 24px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
  }
}
