.program-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 0;
  margin: 0;
  margin-bottom: 12px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    border: 1px solid $lightGrey;
    min-height: 200px;
    padding: 18px 10px 33px 10px;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    grid-area: "programs";
    margin: 0;
  }
}

.program-list__item {
  margin-bottom: 5px;
  padding: 5px;
  width: fit-content;

  &:focus-within {
    opacity: 1;
    outline: solid;
  }

  margin-left: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 28px;
    margin-bottom: 0;
  }
}
