.radio-button {
  display: block;
  margin: 10px;
  margin-left: 25px;
}

.radio-button__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 12px 0 0 10px;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.radio-button__label {
  display: block;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 44px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 55px;
  }
}

.radio-button__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 30px;
  height: 30px;
  border: 1px solid $specialGrey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.radio-button__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  background: $basicGreen;
  opacity: 0;

  @media (min-width: $tablet-width) {
    top: 6px;
    left: 6px;
    width: 18px;
    height: 18px;
  }
}

.radio-button__input:checked + label::after {
  opacity: 1;
}

.radio-button__input:disabled + label {
  opacity: 0.3;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  opacity: 0;
}
