.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-left: 28px;
    margin-top: -10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 31px;
    margin-top: -7px;
  }
}

.social-list__link {
  color: $specialDarkGrey2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;

  @media (min-width: $tablet-width) {
    margin: 0 12px;
  }

  &:hover,
  &:focus {
    color: $basicGreen;
  }

  &:active {
    color: $basicGreen;
    opacity: 0.3;
  }
}

.social-list__image {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 26px;
    height: 26px;
  }
}
