.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social-list__link {
  color: $specialDarkGrey2;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 0 16px;

  @media (min-width: $tablet-width) {
    width: 33px;
    height: 33px;
    margin: 0 12px;
  }

  &:hover,
  &:focus {
    color: $basicGreen;
  }

  &:active {
    color: $basicGreen;
    opacity: 0.3;
  }
}
