.container {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    padding: 0 29px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0 110px;
  }

  &--grey {
    @media (max-width: $mobile-width) {
      background-color: $basicGrey;
    }

    @media (max-width: $mobile-width) {
      background-color: $basicGrey;
    }
  }
}
