@font-face {
  font-family: "Oswald";
  src: url(" ../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $basicBlack;
  font-weight: normal;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

h2 {
  font-size: 24px;
  line-height: 26px;
}

h3 {
  font-size: 16px;
  line-height: 20px;
}
