// Colors
$basicGreen: #68b738;
$basicGreen2: #5eaa2f;
$basicBlack: #000000;
$basicWhite: #ffffff;
$basicGrey: #f2f2f2;

$specialBlack: #111111;
$specialGrey: #cdcdcd;
$specialGrey2: #bababa;
$specialDarkGrey: #444444;
$specialDarkGrey2: #222222;
$lightGrey: #d9d9d9;
$lightGrey2: #eaeaea;
$lightGrey3: #e6e6e6;
$lightGrey4: #e7e7e7;
$statusError: #ff8282;

// Typography

$font-family--oswald: "Oswald", "Arial", sans-serif;
$font-family--arial: "Arial", sans-serif;
